{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="breadcrumb-area bg-img bg-overlay jarallax"
         style="background-image: url({% static 'img/bg-img/17.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <div class="breadcrumb-post-content">
                            <h2 class="post-title">15 Best Interior Design WordPress Themes</h2>
                            <div class="post-meta">
                                <a href="#" class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> Jan 02,
                                    2019</a>
                                <a href="#" class="post-author"><i class="fa fa-user" aria-hidden="true"></i> by Joe
                                    Fylan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-12 col-lg-8">

                    <div class="post-thumbnail mb-50">
                        <img src="{{ article.image.url }}" alt>
                    </div>

                    <div class="blog-details-text">
                        {% for sub_article in sub_articles %}
                            {% if not sub_article.is_quote %}
                                <p>{{ sub_article.content }}</p>
                            {% else %}
                                <blockquote class="roberto-blockquote d-flex">
                                    <div class="icon">
                                        <img src="{% static 'img/core-img/quote.png' %}" alt>
                                    </div>
                                    <div class="text">
                                        <h5>"{{ sub_article.content }}"</h5>
                                    </div>
                                </blockquote>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="post-author-area d-flex align-items-center justify-content-between mb-50">
                        <ul class="popular-tags">
                            {% for article_tag in article_tags %}
                                <li><a href="#">{{ article_tag.title }},</a></li>
                            {% endfor %}
                        </ul>

                        <div class="author-social-info d-flex align-items-center">
                            <p>Share:</p>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="comment_area mb-50 clearfix">
                        <h2>02 Comments</h2>
                        <ol>
                            <li class="single_comment_area">

{#                                <div class="comment-content d-flex">#}
{#                                    {% for comment in comments %}#}
{#                                        {% if comment.image %}#}
{#                                            <div class="comment-author">#}
{#                                                <img src="{{ comment.image.url }}" alt="author">#}
{#                                            </div>#}
{#                                        {% else %}#}
{#                                            <div class="comment-author">#}
{#                                                <img src="{% static 'img/profile_default.png' %}" alt="author">#}
{#                                            </div>#}
{#                                        {% endif %}#}
{#                                        <div class="comment-meta">#}
{#                                            <a href="#" class="post-date">{{ comment.created_date|date:date_format }}</a>#}
{#                                            <h5>{{ comment.name }}</h5>#}
{#                                            <p>{{ comment.content }}</p>#}
{#                                        </div>#}
{#                                        <ol class="children">#}
{#                                            <li class="single_comment_area">#}
{#                                                <div class="comment-content d-flex">#}
{#                                                    {% if comment.children %}#}
{#                                                        <div class="comment-author">#}
{#                                                            <img src="{% static 'img/bg-img/41.jpg' %}" alt="author">#}
{#                                                        </div>#}
{##}
{#                                                        <div class="comment-meta">#}
{#                                                            <a href="#" class="post-date">27 Aug 2018</a>#}
{#                                                            <h5>John Doe</h5>#}
{#                                                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor#}
{#                                                                sit#}
{#                                                                amet,#}
{#                                                                consectetu adipisci velit, sed quia non numquam eius#}
{#                                                                modi</p>#}
{#                                                            <a href="#" class="like">Like</a>#}
{#                                                            <a href="#" class="reply">Reply</a>#}
{#                                                        </div>#}
{#                                                    {% endif %}#}
{##}
{#                                                </div>#}
{#                                            </li>#}
{#                                        </ol>#}
{#                                    {% endfor %}#}
{#                                </div>#}
                            </li>
                        </ol>
                    </div>

                    <div class="roberto-contact-form mt-80 mb-100">
                        <h2>Leave A Comment</h2>

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12" id="name">
                                    {#                                    <input type="text" name="name" class="form-control mb-30"#}
                                    {#                                           placeholder="Name">#}
                                    {{ form.name }}
                                </div>
                                <div class="col-12" id="email">
                                    {#                                    <input type="email" name="email" class="form-control mb-30"#}
                                    {#                                           placeholder="Email">#}
                                    {{ form.email }}
                                </div>
                                <div class="col-12" id="image">
                                    {#                                    <input type="text" name="image" class="form-control mb-30" placeholder="Image" id="image">#}
                                    {{ form.image }}
                                </div>
                                <div class="col-12" id="content">
                                    {#                                <textarea name="content" class="form-control mb-30" id="content"#}
                                    {#                                          placeholder="Start the discussion..."></textarea>#}
                                    {{ form.content }}
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn roberto-btn btn-3 mt-15">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="roberto-sidebar-area pl-md-4">

                        <div class="single-widget-area mb-100">
                            <h4 class="widget-title mb-30">Recent News</h4>
                            {% for recentArticle in recentArticles %}
                                <div class="single-recent-post d-flex">
                                    <div class="post-thumb">
                                        <a href="{% url 'blog:single-blog' recentArticle.slug %}"><img
                                                src="{{ recentArticle.image.url }}" alt></a>
                                    </div>
                                    <div class="post-content">

                                        <div class="post-meta">
                                            <a href="{% url 'blog:single-blog' recentArticle.slug %}"
                                               class="post-author">{{ recentArticle.created_date|date:date_format }}</a>
                                            <a href="{% url 'blog:single-blog' recentArticle.slug %}"
                                               class="post-tutorial">Event</a>
                                        </div>
                                        <a href="{% url 'blog:single-blog' recentArticle.slug %}"
                                           class="post-title">{{ recentArticle.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Tags</h4>

                            <ul class="popular-tags">
                                {% for tag in tags %}
                                    <li><a href="#">{{ tag.title }},</a></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Instagram</h4>

                            <ul class="instagram-feeds">
                                {% for instagram in instagrams %}
                                    <li><a href="#"><img src="{{ instagram.image.url }}" alt></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}